.message {
  margin: 10px auto;
  width: 80%;
  /*display: table;
  table-layout: fixed;
  border-spacing: 10px;*/
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.date, .subject, .sender {
  /*display: table-cell;*/
  align: center;
  float: left;
  margin: 10px 48px;
  width: 200px;
}

.message a {
  text-decoration: none;
}

.clear {
  clear: both;
}

.hidden-text {
  width: 100%;
  display: none;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid #ccc;
  margin: 10px;
}

.visible-text {
  width: 100%;
  padding: 20px 10px 10px 10px;
  border-top: 1px solid #ccc;
  margin: 10px;
}

body {
  width: 100%;
  margin: 0;
}

header h1, h2{
  width: 300px;
  margin: 0 auto;
  padding: 20px 10px 10px 10px;
}

button {
  display: block;
  margin: 10px 10px -26px 10px;
  padding: 5px;
}
